/* 공통 스타일 */
@charset "utf-8";

@import url(fonts.css);


.pc_display { display: block; }
.mobile_display { display: none; }

@media only all and (max-width: 767px) {
    .pc_display { display: none; }
    .mobile_display { display: block; }
}


* {margin: 0;padding: 0; box-sizing: border-box;}

html, body {margin: 0;padding: 0;width: 100%; font-family: 'Pretendard', sans-serif;line-height: 1.6;}
body {
   /*페이지가 항상 전체 화면을 차지하도록 */
   display: flex;flex-direction: column;
}
ol, ul {
	list-style: none;
}
a { color: unset; text-decoration: none; }
img { border: 0; }
button { border: none; background-color: transparent; }
input { outline: none; }
em, b, i, strong { font: inherit; }

/* close_btn */
.close-btn-work {
    color: #aaa;
    border: none;
    font-size: 25px;
    cursor: pointer;
    opacity: 0;
}

header .close_btn { margin-right: 0; }
header .close_btn .close input { display: none; }
header .close_btn .close input:checked + img { opacity: 1; }
header .close_btn .close label img { opacity: 0; transition: all 0.3s; display: block; }

.btn_box { display: flex; flex-direction: column; position: fixed; right: 4%; bottom: 4%; align-items: center; gap: 30px; z-index: 25; }
.btn_box .top_btn button {
    display: block; width: 40px; height: 40px;
    text-align: center;
    border-radius: 50%; border: 1px solid #aaa;
    color: #aaa; background: rgba(255, 255, 255, 0.7); font-size: 20px;
    cursor: pointer;
}
.btn_box .contact-us .rotating-image { animation: rotate 4.5s linear infinite; }
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media only all and (max-width: 767px) {
    .btn_box { display: none; }
    .top_btn { display: none; }
    .btn_box .contact-us .rotating-image { display: none; }
}


/* header */
header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 35px 80px 26px;
    background: #fff;
    height:  108px;
}
.header-mo {display: none;}
header .header-back {display: none;}

header .logo {font-size: 24px; font-weight: bold; display: block !important;}
header nav { height: auto; }
header nav ul { display: flex; align-items: center; list-style: none; margin: 0; padding: 0; }
header nav ul li { margin-right: 40px; max-width: 68px; box-sizing: border-box; text-align: center; }

header nav ul li a { text-decoration: none; color: #101010; font-size: 20px; font-weight: 400;  transition: all 0.3s ease; /* 부드러운 전환 */}
header nav ul li a:hover { color: #F39700; }


header .desktop-nav { position: absolute; right: 0;}

/* header dropdown */
header .mobile-menu {display: none;}
header .category-menu-wrapper {display: none;}
header .dropdown-content {
    display: none;
    position: absolute;
    right: 40px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 30;
    flex-direction: column;
    text-align: left;
    width: 100%; max-width: 165px;
    box-sizing: border-box;
}

header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header .dropdown-content a:hover {background-color: #f1f1f1;}
header .dropdown-content.show {display: flex;}


/* footer pc*/
footer { background: #fff; height: 182px; font-family: 'Pretendard' }
footer p { font-weight: 400; font-size: 12px; color: #707070; font-family: 'Pretendard', sans-serif; }
footer span { color: #101010; font-weight: 400; font-size: 12px; font-family: 'Pretendard', sans-serif; }
footer .company-info .display_flex { display: flex; gap: 20px; margin: 10px 0; }
footer .foot_logo { margin-top: 10px; }
footer .company-info { padding-right: 53px; }
footer .office-info { padding-right: 12px; }
footer .office-info .address { margin: 10px 0; }
footer .office-info .display_flex { display: flex; gap: 10px; }
footer .social-info .text_yt { margin: 10px 0; }
footer .social-info a { text-decoration: none;}

.footer-content-mobile { display: none;}
.footer-content-pc {display: flex; gap: 40px; position: relative;padding: 40px 80px; width: 100%;}
.footer-content-pc .company-info img { margin-top: 10px;}
.footer-content-pc > div:nth-child(4) {margin: 10px;}

.footer-content-pc > .contact-us { position:absolute; right: 80px; }

.footer-content-pc .contact-us .rotating-image {animation: rotate 2.5s linear infinite;}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* nav */
.menu-icon {display: none;font-size: 28px;cursor: pointer;}

/* main */
main {
    /* 섹션이 가변적인 높이를 가지도록 설정 */
    /* 푸터가 페이지 하단에 위치 */
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* video */
main .video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* 뷰포트 높이에 맞춤 */
    padding-bottom: 38%;
    overflow: hidden;
}

main .responsive-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* 오버레이가 위에 표시되도록 */
} 

main .video-container .video-overlay {  width:100%; display: flex;flex-direction: column;align-items: flex-end;justify-content: center;}
main .video-container .video-overlay> div:nth-child(1) {width:50%;}
main .video-container .video-overlay> div:nth-child(2) {width:50%;position: absolute;top: 40%;color: white;} 
main .video-container .video-overlay h1 {font-size: 56px;font-weight: 800;margin-bottom: 1rem; border-bottom: 2px solid #fff;}
main .video-container .video-overlay p {font-size: 18px;font-weight: 400;}
main .video-container .video-overlay .mobile-overlay {display: none;}
main .video-container .video-overlay .mobile-border-bt { display: none;}


/* wrapper가 페이지 전체 높이를 차지하도록 설정 */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}


/* 반응형 스타일 */
@media (max-width: 768px) {

    header {width: 100%;height: 76px; padding: 24px;}
    header .logo_main { width: 100%;   display: block;}
    header .logo_main img { width: 172px; height: 32px; margin: 22px 0 22px ;}
    header .logo { display: none !important;}
    header .logo img{ width: 172px; height: 32px;}

    /* header nav ul {display: none;} */
    header .menu-icon {display: block; font-size: 20px;}
    header .desktop-nav {display: none;}

    header .mobile-menu {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    flex-direction: column;
}

header .mobile-menu.show { display: flex;  
 }

header .mobile-menu-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

header .mobile-menu-header img { height: 40px;}
header .mobile-menu .mobile-menu-header .close-icon {font-size: 28px; cursor: pointer; margin-right:20px;}
header .mobile-menu nav ul {list-style: none; padding: 0;display: block;}
header .mobile-menu nav ul li {margin: 40px 24px;}
header .mobile-menu nav ul li a {text-decoration: none;color: black; font-size: 28px;}
header .mobile-menu .search-container {display: flex; margin-left:  21px;border-radius: 25px; width: 85%; /* 너비를 길게 설정 */}
header .mobile-menu .search-container input {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: none;
    background-color:#fafafa;
    flex: 1; /* 남은 공간을 차지하도록 설정 */
}
header .mobile-menu .search-container button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #fafafa;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}
header .mobile-menu .search-container button:hover { background-color: #ddd;}

/* video */
main .video-container .video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 0 24px;
}
main .video-container .video-overlay .mobile-overlay { display: block;}

main .video-container .video-overlay > div:nth-child(2) { width: 100%; left:24px; top: 30%}
main .video-container .video-overlay h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: none;
}

main .video-container .video-overlay .mobile-border-bt {
    display: block;
    border: 0.1px solid white;
    margin: 16px 0;
    left: 0 !important;

}
main .video-container .video-overlay p {font-size: 16px;font-weight: 400;}

/* footer mobile*/
footer {height: 377px;}
.footer-content-mobile { display: block;}
.footer-content-pc { display: none;}
.footer-content-mobile{display: flex; flex-direction: column; position: relative; padding: 56px 24px 40px; gap:32px;}
.footer-content-mobile .company-info p{ margin-top: 10px;}

footer .office-info p { margin-top: 10px; }

.footer-content-mobile > div:nth-child(5) { position:absolute; right:10%; bottom:29px; position: fixed; z-index: 27; }

.footer-content-mobile  .contact-us .rotating-image {animation: rotate 4.5s linear infinite; width: 60px; height: 60px;}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.footer-content-mobile .footer-box {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12.5%;
    bottom: 108px;
    border: 1px solid black;
    cursor: pointer;
    /* transition: transform 0.5s ease-in-out; */
    position: fixed; /* 박스를 뷰포트에 고정 */ z-index: 26;
}
.footer-content-mobile .footer-box .arrow-image {width: 24px; height: 24px;}

.footer-content-mobile .contact-us {
    opacity: 0; /* 처음에는 보이지 않도록 설정 */
    transition: opacity 0.5s; /* 스크롤 시 부드럽게 나타나도록 전환 설정 */
}
.footer-content-mobile .footer-box {
    opacity: 0; /* 처음에는 보이지 않도록 설정 */
    transition: opacity 0.5s; /* 스크롤 시 부드럽게 나타나도록 전환 설정 */
}

.wrapper {
    margin: 40px 0 80px;
}


/* works에서만 표시 */
.header-pc { display: none;}
.header-mo { display: block;}
.header-mo .page-header { padding: 16px; display: flex; gap: 10px;}
.header-back { display: block !important; margin-top: 12px; }
.header-back img {  display: block;  }

.header-mo .header-search { display: flex;
    border-radius: 25px;
    width: 100%;}

.header-mo .header-search input {
    background-color: #FAFAFA;
    padding: 10px 16px;
    border-radius: 20px;
    border: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: none;
    flex: 1;
}

.header-mo .header-search .page-search  {
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    background-color: #fafafa;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

/* 카테고리 메뉴 스타일 */
 header .category-menu-wrapper {
    display: block;
    width: 100%;  /* 부모 요소 너비를 100%로 설정 */
    overflow-x: auto;  /* 가로 스크롤 가능 */
    -ms-overflow-style: none;  /* IE, Edge에서 스크롤 바 숨김 */
    scrollbar-width: none;     /* Firefox에서 스크롤 바 숨김 */
    white-space: nowrap;  /* 항목이 한 줄로 유지되도록 설정 */
    background-color: white;
    position: absolute;
    top: 68px;
}

header .category-menu-wrapper::-webkit-scrollbar { 
    display: none;  /* Chrome, Safari에서 스크롤 바 숨김 */
}
 .category-menu-wrapper .category-menu {
    display: inline-flex;      /* 자식 요소들을 가로로 배치 */
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 600px;
    white-space: nowrap;       /* 텍스트 줄바꿈 방지 */
}

.category-menu-wrapper .category-menu li {
    display: inline-block;     /* 각 아이템을 inline-block으로 설정 */
    margin-right: 20px;        /* 아이템 간의 간격 설정 */
    padding: 10px;
    background-color: #ffffff;    /* 배경색 설정 */
}
.category-menu-wrapper .category-menu li a.bold { font-weight: 700; }

.category-menu-wrapper .category-menu li a {
    text-decoration: none;
    color: #101010;
    font-size: 14px;
    font-weight: 400;
}

 .category-menu-wrapper .category-menu  li a:hover {
    color: black;
    font-weight: 700;
    cursor: pointer;   /* 커서시 커서가 포인터로 변경되도록 */ 
}

}


/* page_about */
.page_about { margin: 150px 0 40px; }
.page_about .contents { width: 100%; font-family: 'Pretendard', sans-serif; letter-spacing: -0.01em; position: relative; }
.page_about .contents .section h2 { text-transform: uppercase; color: #f39700; font-weight: 700; font-size: 56px; width: 40%; text-align: right; line-height: normal; }

.page_about .contents .section01 h2 { padding-right: 142px; }
.page_about .contents .section01 .inner { display: flex; align-items: flex-start; padding: 0 24px; }
.page_about .contents .section01 .inner .conts { width: 60%; padding-left: 140px; }
.page_about .contents .section01 .inner .conts .main_copy span { font-weight: 300; font-size: 56px; line-height: 49px; position: relative; }
.page_about .contents .section01 .inner .conts .main_copy span.text02 { display: inline-block; padding-top: 20px; }
.page_about .contents .section01 .inner .conts .main_copy span .mtxt { position: relative; z-index: 2; }
.page_about .contents .section01 .inner .conts .main_copy span .line { width: 100%; height: 4px; background: #f39700; position: absolute; left: 0; z-index: 1; }
.page_about .contents .section01 .inner .conts .main_copy span.text01 .line { bottom: 10px; }
.page_about .contents .section01 .inner .conts .main_copy span.text02 .line { bottom: 0; }
.page_about .contents .section01 .inner .conts p { font-weight: 300; font-size: 16px; line-height: 180%; margin-top: 40px; }

.page_about .contents .section02 { padding-top: 150px; }
.page_about .contents .section02 h2 { padding-right: 131px; }
.page_about .contents .section02 .inner01 { display: flex; align-items: flex-start; padding: 0 24px; }
.page_about .contents .section02 .inner01 .conts { width: 60%; padding-left: 140px; }
.page_about .contents .section02 .inner01 .conts p { font-weight: 300; font-size: 16px; line-height: 180%; width: 100%; max-width: 649px; }

.page_about .contents .section02 .inner02 { width: 75%; margin: 80px auto 0; padding: 0 24px; }
.page_about .contents .section02 .inner02 .item_box { display: flex; gap: 26px 10px; padding: 0 24px; }
.page_about .contents .section02 .inner02 .item_box .item { border: 1px solid #f39700; padding: 40px; width: 100%; max-width: 222px; height: 357px; position: relative; }
.page_about .contents .section02 .inner02 .item_box .item::before { content: ''; width: 16px; height: 32px; background: #f39700; position: absolute; left: 40px; top: 0; transform: translateY(-50%); }
.page_about .contents .section02 .inner02 .item_box .item .title_orange { font-size: 17px; font-weight: 500; color: #f39700; padding-bottom: 4px; }
.page_about .contents .section02 .inner02 .item_box .item .item_title { text-transform: uppercase; font-weight: 300; font-size: 22px; line-height: 140%; }
.page_about .contents .section02 .inner02 .item_box .item ul { display: flex; flex-direction: column; gap: 10px; margin-top: 24px; }
.page_about .contents .section02 .inner02 .item_box .item ul li { font-weight: 400; font-size: 16px; padding-left: 18px; position: relative; }
.page_about .contents .section02 .inner02 .item_box .item ul li::before { content: ''; width: 6px; height: 6px; background: #f39700; opacity: 0.5; border-radius: 50%; position: absolute; left: 0; top: 50%; transform: translateY(-50%); }

.page_about .contents .section03 { padding-top: 192px; }
.page_about .contents .section03 h2 { padding-right: 150px; padding-left: 24px; }
.page_about .contents .section03 .inner { display: flex; }
.page_about .contents .section03 .inner .conts { width: 60%; background: #fafafa; padding: 80px 24px 80px 80px; }
.page_about .contents .section03 .inner .conts .history_list { display: flex; flex-direction: column; gap: 80px; }
.page_about .contents .section03 .inner .conts .history_list .list .list_title { font-weight: 400; font-size: 56px; color: #101010; position: relative; }
.page_about .contents .section03 .inner .conts .history_list .list .list_title::before { content: ''; width: 32px; height: 16px; background: #f39700; position: absolute; left: -80px; top: 50%; transform: translateX(-50%) translateY(-50%); }
.page_about .contents .section03 .inner .conts .history_list .list ul { margin-top: 40px; display: flex; flex-direction: column; gap: 20px; }
.page_about .contents .section03 .inner .conts .history_list .list ul li { padding-left: 26px; position: relative; }
.page_about .contents .section03 .inner .conts .history_list .list ul li::before { content: ''; width: 6px; height: 6px; background: #101010; opacity: 0.3; border-radius: 50%; position: absolute; left: 0; top: 50%; transform: translateY(-50%); }
.page_about .contents .section03 .inner .conts .history_list .list ul li p { font-weight: 300; font-size: 18px; opacity: 0.8; }
.page_about .contents .section03 .inner .conts .history_list .list ul li p span { opacity: 0.5; padding-right: 5px; }

@media (min-width: 768px) and (max-width: 1280px) {
    .page_about .contents .section02 .inner02 { width: 100%; }
    .page_about .contents .section02 .inner02 .item_box { flex-wrap: wrap; }
}

@media only all and (max-width: 767px) {
    .page_about { margin: 0; }
    .page_about .contents::after { display: none; }
    .page_about .contents .section h2 { font-size: 32px; line-height: 130%; width: 100%; text-align: left; }

    .page_about .contents .section01 h2 { padding-right: 0; }
    .page_about .contents .section01 .inner { display: block; padding: 0 24px; }
    .page_about .contents .section01 .inner .conts { width: 100%; padding-left: 0; padding-top: 24px; }
    .page_about .contents .section01 .inner .conts .main_copy span { font-size: 28px; line-height: 130%; }
    .page_about .contents .section01 .inner .conts .main_copy span.text02 { padding-top: 8px; }
    .page_about .contents .section01 .inner .conts .main_copy span.text01 .line { bottom: 0; }
    .page_about .contents .section01 .inner .conts p { font-size: 14px; margin-top: 20px; }

    .page_about .contents .section02 { padding-top: 80px; }
    .page_about .contents .section02 h2 { padding-right: 0; }
    .page_about .contents .section02 .inner01 { display: block; padding: 0 24px; }
    .page_about .contents .section02 .inner01 .conts { width: 100%; padding-left: 0; padding-top: 24px; }
    .page_about .contents .section02 .inner01 .conts p { font-size: 14px; }

    .page_about .contents .section02 .inner02 { width: 100%; margin: 40px auto 0; }
    .page_about .contents .section02 .inner02 .item_box { flex-direction: column; gap: 26px; padding: 0 24px; align-items: center; }
    .page_about .contents .section02 .inner02 .item_box .item { border: 1px solid #f39700; padding: 40px; width: 100%; max-width: 264px; height: 357px; }

    .page_about .contents .section03 { padding-top: 80px; }
    .page_about .contents .section03 h2 { padding-right: 0; }
    .page_about .contents .section03 .inner { display: block; }
    .page_about .contents .section03 .inner .conts { width: 100%; padding: 40px 24px 40px 48px; margin-top: 24px; }
    .page_about .contents .section03 .inner .conts .history_list { gap: 32px; }
    .page_about .contents .section03 .inner .conts .history_list .list .list_title { font-size: 28px; }
    .page_about .contents .section03 .inner .conts .history_list .list .list_title::before { left: -48px; top: 50%; transform: translateX(0) translateY(-50%); }
    .page_about .contents .section03 .inner .conts .history_list .list ul { margin-top: 24px; gap: 16px; }
    .page_about .contents .section03 .inner .conts .history_list .list ul li { padding-left: 22px; }
    .page_about .contents .section03 .inner .conts .history_list .list ul li p { font-size: 14px; line-height: 1.3; }
}

/* work */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열 */
    grid-gap: 20px;
    width: 80%; /* 그리드의 너비 */
    margin: auto;
    padding: 20px;
    background-color: white;
}

.grid-container .grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.grid-container .grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* work-list */
.work-list {  padding:120px 20px 40px; position: relative; }
.work-list .cont_wrap { width: 95%; margin: 0 auto; }
.work-list .cont_wrap ul { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 10px; }
.work-list .cont_wrap ul li { width: 100%; overflow: visible; position: relative; z-index: 0; }
.work-list .cont_wrap ul li a { width: 100%; height: fit-content; position: relative; cursor: pointer; display: block; }
.work-list .cont_wrap ul li a img { width: 100%; display: block; }
.work-list .cont_wrap ul li a .text_box { width: 100%; height: 100%; background: rgba(255, 255, 255, 0.5); position: absolute; left: 0; top: 0; box-sizing: border-box; padding: 4vw 50px; font-size: 1.3vw; font-weight:700; color: #101010; font-family: 'Pretendard', sans-serif; opacity: 0; transition: all 0.3s; z-index: 1; transform: translateZ(0); }
.work-list .cont_wrap ul li:hover a .text_box { -webkit-opacity: 1; opacity: 1; }
.work-list .cont_wrap ul li a .text_box .text01 { text-decoration: underline; }
.work-list .cont_wrap ul li a .text_box .text02 { padding: 10px 0 40px; }

.work-list .pagenation { margin-top: 50px; }
.work-list .pagenation ul { display: flex; justify-content: center; gap: 10px; padding-left: 10px; }
.work-list .pagenation ul li { font-family: 'Pretendard', sans-serif; font-weight: 400; font-size: 14px; color: #aaa; }
.work-list .pagenation  .on { color: #101010; }
.work-list .pagenation ul .arrow { padding: 0 3px; }

@media only all and (max-width: 767px) {
    .work-list { padding: 0; }
    .work-list .cont_wrap { width: 100%; padding: 0 24px; }
    .work-list .cont_wrap ul { grid-template-columns: 1fr 1fr; gap: 4px; }
}

/* work-detail */
.work_detail { position: absolute; left: 0; top: 0; background: #fff; z-index: 20; }

.work_detail .contents { width: 100%; display: flex; position: relative; letter-spacing: -0.01em; font-family: 'Pretendard', sans-serif; padding: 0 24px; }
.work_detail .contents .side_info { padding: 120px 24px 300px; position: sticky; left: 0; top: 0; height: fit-content; flex-shrink: 0; }
.work_detail .contents .side_info .title_box .text_orange { color: #f39700; text-transform: uppercase; padding: 12px 0; font-weight: 400; font-size: 16px; }
.work_detail .contents .side_info .title_box .title { color: #101010; font-weight: 600; font-size: 30px; margin-top: 20px; }
.work_detail .contents .side_info .text { font-weight: 400; font-size: 16px; margin: 40px 0; }
.work_detail .contents .side_info .info_box .info { font-weight: 400; font-size: 16px; }
.work_detail .contents .side_info .info_box .info2 { margin: 20px 0; }
.work_detail .contents .side_info .info_box .info span { text-transform: uppercase; color: #999; display: inline-block; width: 54px; margin-right: 40px; }

.work_detail .contents .side_info .share_btn { margin-top: 40px; }
.work_detail .contents .side_info .share_btn a { display: block; width: 100%; max-width: 253px; height: 60px; border: 1px solid #101010; }
.work_detail .contents .side_info .share_btn a .inner { display: flex; justify-content: space-between; align-items: center; padding: 18px 20px; }
.work_detail .contents .side_info .share_btn a .inner span { font-weight: 500; font-size: 16px; }

.work_detail .contents .main_conts { margin:150px 40px 40px 80px;}
.work_detail .contents .main_conts article { margin-bottom: 100px;}
.work_detail .contents .main_conts article img { width: 100%;}

.page {
    display: none; /* 모든 페이지를 기본적으로 숨김 */
}
.page.active {
    display: block; /* 활성화된 페이지만 보임 */
}
.buttons {
    /* display: none !important; */
    position: fixed; /* 화면에 고정 */
    bottom: 20px; /* 화면 하단에서 20px 위에 위치 */
    left: 2.5%;
    display: flex;
    gap: 20px;
}

.buttons #prevBtn,
.buttons #nextBtn {
    font-size: 20px;
    background-color: #fff; transition: all 0.3s;
    border: 1px solid #aaa;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 13px 10px;
    margin: 0 5px;
}

.buttons #prevBtn:hover,
.buttons #nextBtn:hover {
    background-color: #555;
}

@media only all and (max-width: 767px) {
    .work_detail { display: none; }
    .work_detail .close-btn-work {display: none; }
    .work_detail .contents { flex-direction: column; }
    .work_detail .contents .side_info { position: relative; height: auto; padding: 0px 0 56px; }
    .work_detail .contents .side_info .title_box .text_orange { padding: 4px 0; font-size: 14px; line-height: 130%; }
    .work_detail .contents .side_info .title_box .title { font-weight: 300; font-size: 32px; text-transform: uppercase; margin-top: 4px; }
    .work_detail .contents .side_info .info_box { margin-top: 24px; }
    .work_detail .contents .side_info .info_box .info { font-size: 14px; line-height: 130%; }
    .work_detail .contents .side_info .info_box .info2 { margin: 12px 0; }
    .work_detail .contents .side_info .info_box .info span { width: 47px; margin-right: 24px; }
    .work_detail .close_btn02 { position: absolute; right: 0; top: 0; }

    .work_detail .contents .main_conts { gap: 24px; margin: 0 auto; padding: 0; }
    .work_detail .contents .main_conts img { width: 100%; }

    .work_detail .contents .text_area { margin-top: 56px; }
    .work_detail .contents .text_area .text { font-weight: 400; font-size: 14px; line-height: 180%; text-transform: uppercase; color: #b6b6b6; }
    .work_detail .contents .text_area .share_btn { margin-top: 24px; }
    .work_detail .contents .text_area .share_btn a { display: inline-block; border: 1px solid #101010; }
    .work_detail .contents .text_area .share_btn a .inner { display: flex; justify-content: space-between; align-items: center; padding: 12px 16px; gap: 16px; }
    .work_detail .contents .text_area .share_btn a .inner span { font-weight: 500; font-size: 14px; line-height: 130%; color: #101010; }

    .work_detail_mo .contents { width: 100%; display: flex; flex-direction: column; position: relative; letter-spacing: -0.01em; font-family: 'Pretendard', sans-serif; padding: 0 24px; }
    .work_detail_mo .contents .side_info { position: relative; height: auto; padding: 0px 0 56px; }
    .work_detail_mo .contents .side_info .title_box .text_orange { padding: 4px 0; font-size: 14px; line-height: 130%; color: #f39700; text-transform: uppercase; font-weight: 400; }
    .work_detail_mo .contents .side_info .title_box .title { color: #101010; font-weight: 300; font-size: 32px; text-transform: uppercase; margin-top: 4px; }
    .work_detail_mo .contents .side_info .info_box { margin-top: 24px; }
    .work_detail_mo .contents .side_info .info_box .info { font-weight: 400; font-size: 14px; line-height: 130%; }
    .work_detail_mo .contents .side_info .info_box .info2 { margin: 12px 0; }
    .work_detail_mo .contents .side_info .info_box .info span { text-transform: uppercase; color: #999; display: inline-block; width: 47px; margin-right: 24px; }
    .work_detail_mo .close_btn02 { position: absolute; right: 0; top: 0; }

    .work_detail_mo .contents .main_conts { gap: 24px; margin: 0 auto; padding: 0; }
    .work_detail_mo .contents .main_conts img { width: 100%; }

    .work_detail_mo .contents .text_area { margin-top: 56px; }
    .work_detail_mo .contents .text_area .text { font-weight: 400; font-size: 14px; line-height: 180%; text-transform: uppercase; color: #b6b6b6; }
    
    .work_detail_mo .contents .text_area .share_btn { margin-top: 24px; }
    .work_detail_mo .contents .text_area .share_btn a { display: inline-block; border: 1px solid #101010; }
    .work_detail_mo .contents .text_area .share_btn a .inner { display: flex; justify-content: space-between; align-items: center; padding: 12px 16px; gap: 16px; }
    .work_detail_mo .contents .text_area .share_btn a .inner span { font-family: 'Pretendard', sans-serif; font-weight: 500; font-size: 14px; line-height: 130%; color: #101010; }
    .work_detail_mo .contents .text_area .share_btn a .inner img { display: block; }
    .buttons {display: none !important;}
}

/* contact */
.contact#container { width: 100%; max-width: 1089px; margin: 0 auto; }

.contact .contents { font-family: 'Pretendard', sans-serif; letter-spacing: -0.01em; padding: 0 24px; margin: 150px auto; }
.contact .contents .main_copy span { font-weight: 300; font-size: 56px; line-height: 49px; position: relative; }
.contact .contents .main_copy span.text02 { display: inline-block; padding-top: 20px; }
.contact .contents .main_copy span .mtxt { position: relative; z-index: 2; }
.contact .contents .main_copy span .line { width: 100%; height: 4px; background: #f39700; position: absolute; left: 0; z-index: 1; }
.contact .contents .main_copy span.text01 .line { bottom: 10px; }
.contact .contents .main_copy span.text02 .line { bottom: 0; }

.contact .contents .section01 { margin-top: 80px; display: flex; }
.contact .contents .section01 .cont01 { flex: 1; }
.contact .contents .section01 .title { font-weight: 300; font-size: 48px; }
.contact .contents .section01 .info_box { margin: 40px 0; }
.contact .contents .section01 .info_box .info { font-weight: 400; font-size: 16px; }
.contact .contents .section01 .info_box .info:not(:nth-child(5)) { margin-bottom: 20px; }
.contact .contents .section01 .info_box .map_btn { margin-bottom: 40px; }
.contact .contents .section01 .info_box .map_btn a { display: inline-block; border: 1px solid #f39700; width: 100%; max-width: 253px; height: 60px; padding: 18px 20px; }
.contact .contents .section01 .info_box .map_btn a .inner { display: flex; align-items: center; justify-content: space-between; }
.contact .contents .section01 .info_box .map_btn a .inner span { font-weight: 500; font-size: 16px; color: #f39700; }
.contact .contents .section01 .info_box .map_btn a .inner img { display: block; }
.contact .contents .section01 .sns_group ul { display: flex; gap: 20px; }

.contact .contents .section01 .cont02 { flex: 1; }
.contact .contents .section01 .cont02 .box02 { margin-top: 80px; }
.contact .contents .section01 .cont02 .info_box .map_btn { margin-bottom: 0; }
.contact .contents .section01 .cont02 .info_box { margin: 40px 0 0; }

.contact .contents .section02 { margin-top: 150px; }
.contact .contents .section02 .title_area { margin-bottom: 80px; }
.contact .contents .section02 .title_area .title { font-weight: 300; font-size: 56px; color: #f39700; }
.contact .contents .section02 .title_area p { font-weight: 400; font-size: 16px; line-height: 180%; padding-top: 20px; }

.contact .contents .section02 .conts_box { display: flex; }
.contact .contents .section02 .conts_box .cont01 { flex: 1; }
.contact .contents .section02 .stxt { font-weight: 400; font-size: 16px; }
.contact .contents .section02 .cont01 input { display: block; width: 100%; max-width: 384px; border: 0; border-bottom: 1px solid #101010; height: 27px; margin-top: 20px; }
.contact .contents .section02 .cont01 input::placeholder { font-weight: 400; font-size: 14px; opacity: 0.3; }
.contact .contents .section02 .cont01 .form_area { display: flex; flex-direction: column; gap: 50px; }

.contact .contents .section02 .conts_box .cont02 { flex: 1; }
.contact .contents .section02 .conts_box .cont02 .form_area { display: flex; flex-direction: column; gap: 50px; }

.contact .contents .section02 .conts_box .cont02 .budget_box ul { display: flex; gap: 10px; margin-top: 20px; }
.contact .contents .section02 .conts_box .cont02 .budget_box ul li input { display: none; }
.contact .contents .section02 .conts_box .cont02 .budget_box ul li label { display: block; font-size: 14px; border: 1px solid rgba(16, 16, 16, 0.1); color: rgba(16, 16, 16, 0.6); padding: 12px; }
.contact .contents .section02 .conts_box .cont02 .budget_box ul li input:checked + label { border: 1px solid rgba(16, 16, 16, 1); color: rgba(16, 16, 16, 1); }

.contact .contents .section02 .conts_box .cont02 .schedule_box ul { display: flex; gap: 10px; margin-top: 20px; }
.contact .contents .section02 .conts_box .cont02 .schedule_box ul li input { display: none; }
.contact .contents .section02 .conts_box .cont02 .schedule_box ul li label { display: block; font-size: 14px; border: 1px solid rgba(16, 16, 16, 0.1); color: rgba(16, 16, 16, 0.6); padding: 12px; }
.contact .contents .section02 .conts_box .cont02 .schedule_box ul li input:checked + label { border: 1px solid rgba(16, 16, 16, 1); color: rgba(16, 16, 16, 1); }

.contact .contents .section02 .conts_box .cont02 .proj_conts .stxt { margin-bottom: 20px; }
.contact .contents .section02 .conts_box .cont02 .proj_conts textarea { display: block; border: 1px solid #101010; width: 100%; max-width: 516px; height: 115px; resize: none; padding: 20px; box-sizing: border-box; }
.contact .contents .section02 .conts_box .cont02 .proj_conts textarea::placeholder { font-weight: 400; font-size: 14px; opacity: 0.3; }

.contact .contents .section02 .conts_box .cont02 .submit_btn button { display: flex; justify-content: space-between; width: 100%; max-width: 516px; height: 60px; background: #f39700; align-items: center; padding: 18px 20px; }
.contact .contents .section02 .conts_box .cont02 .submit_btn button span { font-weight: 400; font-size: 16px; color: #000; font-family: 'Pretendard', sans-serif; }
.contact .contents .section02 .conts_box .cont02 .submit_btn button img { display: block; }

@media only all and (max-width: 767px) {
    .contact .contents { margin: 0 auto 5px; }

    .contact .contents .main_copy span { font-size: 28px; line-height: 130%; }
    .contact .contents .main_copy span.text02 { padding-top: 8px; }
    .contact .contents .main_copy span.text01 .line { bottom: 0; }

    .contact .contents .section01 { margin-top: 40px; flex-direction: column; }
    .contact .contents .section01 .title { font-size: 28px; line-height: 140%; }
    .contact .contents .section01 .info_box { margin: 20px 0 24px; }
    .contact .contents .section01 .info_box .info:not(:nth-child(5)) { margin-bottom: 12px; }
    .contact .contents .section01 .info_box .map_btn { margin-bottom: 24px; }
    .contact .contents .section01 .info_box .map_btn a { display: inline-block; border: 1px solid #f39700; width: 100%; max-width: 116px; height: 44px; padding: 12px 16px; }
    .contact .contents .section01 .info_box .map_btn a .inner { display: flex; align-items: center; justify-content: space-between; }
    .contact .contents .section01 .info_box .map_btn a .inner span { font-size: 14px; line-height: 140%; }
    .contact .contents .section01 .info_box .map_btn a .inner img { width: 20px; }

    .contact .contents .section01 .cont02 .box01 { margin-top: 40px; }
    .contact .contents .section01 .cont02 .box02 { margin-top: 40px; }
    .contact .contents .section01 .cont02 .info_box { margin: 20px 0 0; }

    .contact .contents .section02 { margin-top: 56px; }
    .contact .contents .section02 .title_area { margin-bottom: 40px; }
    .contact .contents .section02 .title_area .title { font-weight: 200; font-size: 32px; line-height: 130%; }
    .contact .contents .section02 .title_area p { font-weight: 300; font-size: 14px; padding-top: 24px; }

    .contact .contents .section02 .conts_box { flex-direction: column; }
    .contact .contents .section02 .stxt { font-size: 13px; line-height: 130%; }
    .contact .contents .section02 .cont01 .form_area { gap: 40px; }

    .contact .contents .section02 .conts_box .cont02 { margin-top: 40px; }
    .contact .contents .section02 .conts_box .cont02 .form_area { gap: 40px; }

    .contact .contents .section02 .conts_box .cont02 .budget_box ul { width: 100%; margin-top: 12px; flex-wrap: nowrap; overflow-x: auto; scrollbar-width: none; /* Firefox */ white-space: nowrap; word-break: keep-all; }
    
    /* Chrome, Safari, Edge, Opera */
    .contact .contents .section02 .conts_box .cont02 .budget_box ul::-webkit-scrollbar {
        display: none;
    }
    
    .contact .contents .section02 .conts_box .cont02 .budget_box ul li { flex: 0 0 auto; }

    .contact .contents .section02 .conts_box .cont02 .schedule_box ul { width: 100%; margin-top: 12px; flex-wrap: nowrap; overflow-x: auto; scrollbar-width: none; /* Firefox */  white-space: nowrap; word-break: keep-all; }
    /* Chrome, Safari, Edge, Opera */
    .contact .contents .section02 .conts_box .cont02 .schedule_box ul ::-webkit-scrollbar {
        display: none;
    }
    
    .contact .contents .section02 .conts_box .cont02 .schedule_box ul li { flex: 0 0 auto; }

    .contact .contents .section02 .conts_box .cont02 .proj_conts textarea { padding: 16px; }

    .contact .contents .section02 .conts_box .cont02 .submit_btn button { max-width: fit-content; height: 44px; padding: 12px 16px; gap: 16px; }
    .contact .contents .section02 .conts_box .cont02 .submit_btn button span { font-weight: 500; font-size: 14px; line-height: 130%; }
}


